@use "sass:color";
@use "sass:map";
@use '../../../styles/variables' as v;
@use '../../../styles/components' as c;
@use '../../../styles/mixins' as m;


.btn-agregar {

  margin-left: auto;

  button {
    @extend .button-primary;
    width: fit-content;
    border-radius: 9px !important;
    padding: 0.6rem 2.5rem;
  } 
}

.menu-pequeño {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
    margin-top: 10px;
  }
  
  .menu-pequeño li {
    cursor: pointer;
    font-size: 14px;
    color: v.$color-base;
    font-weight: 400;
    transition: color 0.3s;
  }
  
  .menu-pequeño li:hover {
    color: v.$color-gris;
  }
  
  .menu-mediano-lista-activo {
    border-bottom: 2px solid v.$color-base;
    padding-bottom: 2px !important;
    opacity: 1;
  }

.linea-menu {
    background-color: v.$color-base;
    height: 1px;
    border: 1px;
    width: 100%;
    margin-top: 25px;
}