@use "sass:color" as color;
@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;
@use "../../../styles/components" as c;
@use "../../../styles/utilities" as u;

.message-card {
    background-color: v.$color-negro;
}

.message-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: v.$spacer-1;
}

.input-number{
    @extend %input-field;
    margin-bottom: 1rem;
}

.message-title {
    font-family: v.$font-secondary;
    font-weight: 600;
    color: v.$color-primario-light;
    font-size: 1.25rem;
    margin-bottom: v.$spacer-2;
}

.message-divider {
    width: 240px;
    height: 2px;
    background-color: v.$color-primario-light;
    margin: 0 auto;
    opacity: 0.8;
}

.message-body {
    text-align: center;
    padding: v.$spacer-1 0;
}

.message-content {
    font-family: v.$font-primary;
    color: v.$color-gris-muy-light;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: v.$spacer-2;
    opacity: 0.9;
}

.message-action {
    @extend %button-base; // Extiende el botón base de tus componentes
    padding: 0.3rem 1.5rem;
    background-color: v.$color-primario;
    color: v.$color-negro;
    border-radius: 8px;
    appearance: none;

    &:hover {
        background-color: v.$color-primario-light;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(v.$color-base, 0.3);
    }
}
